{% load staticfiles %}

<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="ISO-8859-1">
    <script src="{% static "bower_components/webcomponentsjs/webcomponents-lite.min.js" %}"></script>
    <link rel="stylesheet" href="{% static "bower_components/css.css" %}">
    <link rel="import" href="{% static "bower_components/polymer/polymer.html" %}">
    <link rel="import" href="{% static "bower_components/paper-input/paper-input.html" %}">
    <link rel="import" href="{% static "bower_components/paper-button/paper-button.html" %}">
    <link rel="import" href="{% static "bower_components/paper-spinner/paper-spinner.html" %}">

<head>

<body>


<style is="custom-style">
    .horizontal-section {
        min-width: 130px;
    }

    paper-button {
        display: block;
        margin-bottom: 4px;
    }
</style>


    <script>

function submitForm(me) {

    console.log("submitForm called");
    console.log(me);
    me.disabled = true;


document.getElementById('progress').active = true;

  document.getElementById('login-form').submit();
}


    </script>

<section id="content-main" onclick="clickHandler(event)">


    <div class="divTitle"
         style="background-color: 3A6EA7;text-align: center;width: 30%;margin-left: auto;margin-right: auto">
        <img src="{% static "images/log_titulo.gif" %}"/>
    </div>


    <div style="width: 30%;margin-left: auto;margin-right: auto;background-color: #4fc3f7">


        <form action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}


            {% if not user.is_authenticated %}

                <div class="form-row">
                    <div style="text-align:center">Nombre de usuario:</div>
                    <paper-input style="width:96%;margin-left: auto;margin-right: auto"
                                 no-label-float id="id_username" name="username" label="Ingrese su usuario aqui">
                    </paper-input>
                </div>
                <div class="form-row">
                    <div style="text-align:center">Clave:</div>
                    <paper-input style="width:96%;margin-left: auto;margin-right: auto"
                                 no-label-float id="id_password" name="password" type="password"
                                 label="Ingrese su clave aqui">
                    </paper-input>
                    <input type="hidden" name="next" value="{{ next }}"/>
                </div>

                <div class="submit-row" style="padding-bottom: 2%">
                    <paper-button  active=false raised onclick="submitForm(this)">Ingresar <paper-spinner id="progress" ></paper-spinner> </paper-button>
                </div>





            {% else %}
                Usuario: {{ user.username }}

                <div class="submit-row">
                    <a href="/logout/">Cerrar sesion</a>
                </div>

            {% endif %}


        </form>
    </div>
</section>

</body>
</html>

