<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Reporte</title>

    <script src="/static/bower_components/webcomponentsjs/webcomponents-lite.js"></script>

    <link rel="import" href="/static/elements/elements.html">

    <style is="custom-style">


            .iron-icon-1 {
                color: #dedede;
                width: 16px;
                height: auto;
            }

            .element-container-0 .container.element-container {
                padding: 6px 16px 20px;
                border: 1px solid #dedede;         
            }

            input {
                border: medium none;
            }

    </style>

</head>
<body unresolved>

<paper-toolbar>
      <paper-icon-button icon="arrow-back"> </paper-icon-button>
<div class="title"> REPORTE </div>

</paper-toolbar>

<div class="horizontal layout">
    <div class="content">
        <dynamic-form></dynamic-form>
    </div>
</div>

</body>
</html>